:root {
  --primary-color: #eeeeee;
  --heading-font: "Rubik", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1,
h2 {
  font-family: var(--heading-font);
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

a {
  color: white;
  text-decoration: none;
}

i {
  padding: 10px 5px;
  font-size: 20px;
}

.navbar {
  font-family: var(--paragraph-font);
  font-weight: bolder;
  margin-top: 15px;
  margin-right: 20px;
}
.home {
  margin-top: 80px;
}
.more-button {
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: var(--paragraph-font);
  padding: 10px 20px;
  margin-top: 25px;
}

.more-button:hover {
  transform: scale(1.1);
}

.slide {
  max-width: 600px;
  height: auto;
}
#home-paragraph {
  font-family: var(--paragraph-font);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

a:hover {
  color: white;
}

@media (max-width: 415px) {
  .home {
    margin-top: 20px;
  }
}
