:root {
  --primary-color: #eeeeee;
  --heading-font: "Rubik", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1,
h2 {
  font-family: var(--heading-font);
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

p {
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: lighter;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

i {
  padding: 10px 15px;
  font-size: 20px;
  color: black;
}

i:hover {
  transform: scale(2.1);
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

img {
  border-radius: 20px;
  border: 2px ridge #a99ba5;
  box-shadow: 5px rgba(0, 0, 0, 0.5);
}
small {
  font-size: 10px;
  font-family: var(--paragraph-font);
}

button {
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: var(--paragraph-font);
  padding: 10px 20px;
  margin-top: 25px;
}

button:hover {
  transform: scale(1.1);
}

.navbar {
  font-family: var(--paragraph-font);
  font-weight: bolder;
  margin-top: 15px;
  margin-right: 20px;
}

.page-content {
  max-width: 1000px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}

.page-content h2 {
  font-weight: bolder;
}

.social-links {
  color: black;
}

.social-links:visited {
  color: black;
}

.text-links {
  color: black;
}

.text-links:hover {
  color: #393e46;
}

@media (max-width: 415px) {
  .home {
    margin-top: 20px;
  }
}
