:root {
  --heading-font: "Rubik", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: var(--paragraph-font);
  margin-top: 25px;
}

footer {
  display: block;
  text-align: center;
}

h1,
h2 {
  font-family: var(--heading-font);
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--heading-font);
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

i {
  padding: 10px 15px;
  font-size: 20px;
  color: black;
}

img {
  border-radius: 4px;
}

p {
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
}

small {
  font-size: 10px;
  font-family: var(--paragraph-font);
}

.navbar {
  font-family: var(--paragraph-font);
  font-weight: bolder;
  margin-top: 15px;
  margin-right: 20px;
}

.page-content {
  max-width: 1000px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  min-height: calc(100vh - 96px - 68px - 50px);
}

.projects {
  margin-top: 50px;
  min-height: calc(100vh - 96px - 68px - 50px);
}

.project-card {
  background-color: #f8f9fa;
  border-radius: 11px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 30px;
}

.project-container {
  text-align: center;
  width: 500px;
  padding: 16px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-pic {
  width: 100%;
  height: 100%;
}

.projects h3 {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.projects p {
  margin-top: 0px;
}

.social-links {
  color: black;
}

a:hover {
  color: black;
}

a:visited {
  text-decoration: none;
}

i:hover {
  transform: scale(2.1);
}

button:hover {
  transform: scale(1.1);
}
.project-card:hover {
  transform: scale(1.1);
}

.social-links:visited {
  color: black;
}

#linkedin:hover {
  text-decoration: underline;
}

#twitter:hover {
  text-decoration: underline;
}

#goodreads:hover {
  text-decoration: underline;
}

#git:hover {
  text-decoration: underline;
}

#mail:hover {
  text-decoration: underline;
}
#sketch {
  width: 350px;
  height: "auto";
  display: flex;
  margin: 0 auto;
}

#linkedin {
  color: #0a66c2;
  font-weight: bold;
}

#twitter {
  color: #1d9bf0;
  font-weight: bold;
}

#goodreads {
  color: #5b4a3c;
  font-weight: bold;
}

#git {
  color: #24292f;
  font-weight: bold;
}

#mail {
  color: #b92b24;
  font-weight: bold;
}

#more-button {
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    margin-top: 0px;
  }

  .page-content {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projects {
    margin-top: 30px;
    min-height: 450px;
    margin-bottom: 20px;
  }
  .project-card {
    min-height: 300px;
    margin: 15px;
    padding-bottom: 10px;
  }
  i {
    font-size: 15px;
    padding: 10px 5px;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 5px;
  }
  h4 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  #sketch {
    width: 150px;
  }
}
